/* Variables */
$max-width: 1440px;
$font-family: "Work Sans", sans-serif;
$font-size: 14px;
$banner-image: 'src/assets/images/plage.png';
$primary-color: #ff6060;
$text-color: black;
$text-hover-color: $primary-color;

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

a {
  color: $text-color;

  &:hover {
    color: $text-hover-color;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body custom styles */
body {
  max-width: $max-width;
  margin: auto;
  font-family: $font-family;
  font-size: $font-size;
  font-family: 'Montserrat', sans-serif;
display: flex;
justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a img {
  width: 210px;
  height: 68px;
}

.navbar ul {
  display: flex;
  gap: 12px;
}

/* Banner */
.banner {
  padding-top: 25px;
}

.banner__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1224px;
  height: 223px;
  position: relative;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 68.45px;
  letter-spacing: 0%;
  z-index: 1;
}

.banner__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(#{$banner-image});
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -1;
  border-radius: 25px;
}
